<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Phonon</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>ai.donutbrowser.speech2text</string>
	<key>CFBundleName</key>
	<string>Phonon</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.2</string>
	<key>CFBundleVersion</key>
	<string>0.2.2</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Phonon uses Apple Events to paste transcribed text into the active application.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Phonon needs microphone access to transcribe your voice.</string>
</dict>
</plist>
